@media all and (max-width: 992px) {
  .body {
    width: 992px;
  }
  .hotels {
    width: 990px;
  }
  .hotelsTopGroupContentimgImage {
    border-radius: 15px 0 0 15px;
    object-fit: cover;
    height: 177px;
    width: 110px;
  }
  .hotelsTopGroupContentText {
    padding-left: 4%;
  }
  .hotelsTopCardPrice {
    padding-top: 0;
    padding-bottom: 1%;
  }
  .hotelsResultsMore {
    padding: 5% 0 3% 6%;
    font-size: large;
  }
  .Activity {
    width: 900px;
  }
  .footer {
    width: 992px;
  }
}
@media all and (max-width: 768px) {
  .body {
    width: 768px;
  }
  .hotelsTop {
    width: 768px;
    padding: 0 2% 2% 2%;
    margin: 0 6% 6% 25%;
  }
  #hotels {
    width: 100%;
    padding: 0;
    margin: 0;
    flex-direction: column-reverse;
    align-items: center;
  }
  .body {
    margin: 0;
    padding: 0;
    width: 53rem;
  }
  .hotelsTopTitle {
    padding: Orem 1rem 1rem 3rem;
  }
  .hotelsTop {
    width: 768px;
    padding: 0 2% 2% 2%;
    margin: 0 6% 6% 25%;
  }
  .hotelsResults {
    width: 768px;
    padding: 0 2% 2% 2%;
    margin: 0 6% 6% 25%;
  }
  .searchResults {
    margin: 1rem 0 2rem 0;
  }
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding: 0 2rem 3rem 2rem;
  }
  .header {
    width: 53rem;
  }
  .hotelsTopGroupContentimgImage {
    width: 250px;
    height: 160px;
  }
  .hotelsResultsMore {
    padding: 0rem 0 3rem 3rem;
  }
  .Activity {
    width: 768px;
    gap: 30px;
    margin: 0 0 6% 6%;
  }
  .ActivityTitle {
    margin: 6% 0 4% 6%;
  }
  .ActivityCardGroupImgOne {
    height: 23rem;
  }
  .ActivityCardGroupImgTwo {
    height: 10rem;
  }
  .ActivityCardGroupImgThree {
    height: 22rem;
  }
  .ActivityCardGroupImgFour {
    height: 7rem;
  }
  .ActivityCardGroupImgSix {
    height: 10rem;
  }
  .ActivityCardGroupImgFive {
    height: 8rem;
  }
  .searchIcon {
    display: none;
  }
}
@media all and (max-width: 375px) {
  .main {
    width: 375px;
  }
  .header {
    width: 375px;
    display: flex;
    flex-direction: column;
  }
  .header-logo {
    height: 80px;
    width: 80px;
    align-self: center;
    padding: 5% 0 0 0;
  }
  .header-nav {
    width: 375px;
    display: flex;
    flex-direction: row;
    align-self: center;
    font-size: large;
    height: 90px;
    padding: 0 0 0 15%;
  }
  .header-nav-link {
    text-align: center;
  }
  .header-nav-link[data-active="true"] {
    padding: 10%;
    text-align: center;
    border-bottom: 3px solid #0065fc;
  }
  .header-nav-link[data-active="false"] {
    padding: 10%;
    text-align: center;
  }
  .search {
    align-self: center;
    padding: 0 0 0 5%;
  }
  .search-form {
    padding-bottom: 10%;
  }
  .search-form-group-input-content {
    display: none !important;
  }
  .search-form-group-input {
    border-radius: 15px;
  }
  .search-form-group-input-input {
    width: 250px;
  }
  .searchIcon {
    font-weight: 900 !important;
  }
  .searchFilters {
    flex-wrap: wrap;
    width: 400px;
  }
  .searchFiltersSmallGroup {
    flex-wrap: wrap;
  }
  .header-nav-link {
    border-top: none;
    border-bottom: 3px solid #f2f2f2;
    width: 50%;
  }
  .hotelsTop {
    width: 375px;
    margin: 0 6% 6% 10%;
  }
  .hotelsResults {
    background: none;
    width: 375px;
    margin: 0;
  }
  .hotelsResultsHeaderTitle {
    padding: 2% 0 1% 10%;
  }
  .hotelsTopGroupContentimgImage {
    width: 150px;
  }
  .hotelsTopCard {
    height: 176px;
  }
  .hotelsResultsCard {
    width: 100%;
  }
  .container {
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }
  .Activity {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .ActivityTitle {
    margin: 6% 0 8% 6%;
  }
  .ActivityCardGroupImgSix,
  .ActivityCardGroupImgFive,
  .ActivityCardGroupImgFour,
  .ActivityCardGroupImgThree,
  .ActivityCardGroupImgTwo,
  .ActivityCardGroupImgOne {
    height: 150px;
  }
  .footerColumnGroup {
    flex-direction: column;
    padding: 0%;
  }
}
